/*
 Nori is a complete css grid system to format webpages.
 It makes use of an unequal-width column style with fixed gutters
 The classes are a CSS style, meaning they describe different elements you can use,
 instead of writing the column location and number out (sidebars rather than col-md-3)
 Nori is developed and updated by Patrick O'Doherty
 Project was started on Feb 14, 2018 */

// Decalre Variables
$background-color: #f1f1f1;
$foreground-color: #fff;
$text-color: #302934;
$highlight-color: #A53B50;

$subheading-size: 1.3em;

/* Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab');

// Mixin

@mixin clearfix {
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

/* Global Styles */

/* Here, we change the box-sizing to border-box so calculations are consistent  */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin-top: 2rem !important;
    font-family: 'Roboto Slab', sans-serif;
    color: $text-color;
    background-color: $background-color;
}
div {
    display: block;
}

.icon {
    margin-left: 5px;
    margin-right: 10px;
    color: $highlight-color;
}

/* Grid container */

.l-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: calc((100% - 24px * 12) / 12);
    margin-right: 12px;
    margin-left: 12px;
    background: rgba(0, 0, 255, .5);
    float: left;
    height: 80px;
}

/* Text */
/* Describes different classes that format text */

.title {
    font-size: $subheading-size;
}
.date {
    .current {
        background-color: $highlight-color;
        color: #fff;
        border-radius: 4px;
        padding: 0 8px 0 8px;
    }
    color: $highlight-color;
    padding: 5px 0 5px 0;
}
.desc {
    color: black;
}

/* Navigation Bar */
.l-nav {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
    margin-bottom: 15px;
    @include clearfix;
    a {
        color: #D84758;
        margin-left: 10px;
        margin-right: 10px;
        outline: none;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.35em;
    }
    a:hover {
        text-decoration: overline underline;
        text-decoration-color: $text-color;
    }
    
    .logo {
        
    }
}

/* Page */
/* This is a full page */

.l-page {
    height: 80%;
    background-color: $foreground-color;
    .entry {
        padding: 5px 5px 5px 5px;
        border: 5px dashed $text-color;
        .heading {
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            padding: 5px 5px 5px 5px;
            text-decoration: underline;
        }
        img {
            height: 30%;
            width: 20%;
            object-fit: cover;
            float: left;
        }
        .desc {
            padding-left: 20px;
            font-size: 1.25vw;
            height: 30%;
            //float: right;
            overflow: auto;
        }
    }
}

/* Portfolio */
/* A portfolio has a guest profile, an article, and a sidebar */

.l-portfolio {
    @include clearfix;
    p {
        margin-bottom: 5px;
        margin-top: 0; //background: rgba(147, 147, 165, 0.5);
    }
    .grid-item {
        @media (min-width: 700px) {
            padding-left: 12px;
            padding-right: 12px;
            float: left;
        }
    }
    .l-profile {
        min-height: 500px;
        background-color: $foreground-color;
        @media (min-width: 700px) {
            width: percentage(4/12);
            float: left;
        }
        @media (min-width: 1200px) {
            width: percentage(3/12);
        }
        .picture-container {
            margin-top: 10px;
            position: relative;
            display: block;
            overflow: hidden;
        }
        .picture-caption {
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            color: white;
            position: absolute;
            left: 10;
            bottom: 10;
        }
        .contact {
            margin-top: 5px;
            font-weight: bold;
            display: block;
            text-align: justify;
        }
    }
    .l-main {
        margin-top: 20px;
        min-height: 500px;
        background-color: $foreground-color;
        @media (min-width: 700px) {
            width: percentage(8/12);
            margin-top: 0;
            float: left;
        }
        @media (min-width: 1200px) {
            width: percentage(6/12);
        }
        .work-history {
            margin-left: 50px;
        }
    }
    .l-sidebar {
        margin-top: 20px;
        min-height: 500px;
        background-color: $foreground-color;
        @media (min-width: 700px) {
            width: percentage(8/12);
            float: right;
        }
        @media (min-width: 1200px) {
            width: percentage(3/12);
            margin-top: 0;
        }
    }
}