html {}

body {
    background-color: #ffe0aa;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


/*Begin Template CSS*/


/*HEADER*/

#navbar {
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /*   background-color: #160a07;*/
    padding-bottom: 6em;
    border-bottom: 10px solid white;
    background: #160a07;
    /* Old browsers */
    background: -moz-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #160a07), color-stop(22%, #281d10), color-stop(28%, #544838), color-stop(34%, #010000), color-stop(84%, #554e49));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* IE10+ */
    background: linear-gradient(to bottom, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#160a07', endColorstr='#554e49', GradientType=0);
    /* IE6-9 */
}

#navbar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

#navbar ul li {
    padding: 20px;
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
}

#navbar a:hover {
    color: #000;
    background-color: #ffe0aa;
}

#note-bell {
    color: white;
    font-size: 18px;
		user-select: none;
}

#note-new {
    background-color: white;
    padding: 3px;
    font-size: 10px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #000000;
    position: relative;
    top: 5px;
    right: 5px;
		user-select: none;
}

#note-popup {
    visibility: hidden;
    opacity: 0;
    background-color: #E0E0E0;
    width: 500px;
    margin: 0 auto;
    z-index: 50000;
    min-height: 150px;
    max-height: 500px;
    position: relative;
    top: 19px;
    padding-bottom: 65px;
    -webkit-box-shadow: 4px 10px 58px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 58px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 10px 58px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity.2s ease-out;
    -moz-transition: opacity.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#note-popup a{
  padding: 0px 0px 0px 0px;
}

#note-settings {
    width: 110px;
    left: 15px;
    bottom: 15px;
}

#note-read {
  cursor: pointer;
  width: 140px;
  bottom: 15px;
  left: 135px;
}

#note-view {
    width: 200px;
    bottom: 15px;
    right: 15px;
}

#note-container {
    min-height: 100px;
    max-height: 450px;
    padding-top: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

#note-hidden-box{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#read-note {
    cursor: pointer;
    position: relative;
    right: 1px;
    top: 2px;
		user-select: none;
    z-index: 1001;
}

#toast{
	visibility: hidden;
	position: fixed;
	bottom: 20px;
	left: 10px;
	min-width: 400px;
	height: 80px;
	background-color: #212121;
	opacity: 0;
	z-index: 50000;
	-webkit-transition: opacity.2s ease-out;
	-moz-transition: opacity.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#closeToast{
	color: white;
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
}

#toastMessage{
	color: white;
	position: relative;
	top: 15px;
}

#toastLink{
  color: #2196f3;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  top: 25px;
  right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.note {
    margin: 0 auto;
    width: 450px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.note i {
    font-size: 71px;
		width: 85px;
    padding: 5px;
    float: left;
    position: relative;
    background-color: #212121;
}

.note p {
    text-align: left;
    word-wrap: break-word;
    font-size: 15px;
    position: relative;
    left: 15px;
    top: 8px;
    padding-right: 20px;
}

.note span {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 25px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: black;
  margin-top: 30px;
  font-size: 11px;
}

.note span i{
  font-size: 17px;
  width: auto;
  background-color: transparent;
}

.noteCreateTime{
  left: 96px;
}

.readButton{
  margin-right: 10px;
  right: 20px;
  z-index: 99999;
}

.readButton:hover{
  color: #2196f3;
}

.assignmentButton{
  margin-right: 10px;
  right: 95px;
}

.assignmentButton:hover{
  color: #2196f3;
}

.note-button {
    color: black;
    background-color: #ff9800;
    vertical-align: middle;
    position: absolute;
    height: 35px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.note-preference {
  display: inline-block;
}

.note-preference input,
.note-preference select{
  float: right;
  margin-left: 5px;
}

.note-preference p{
  text-align: right;
}

.center-text {
    position: relative;
    top: 8px;
}

.header_title {
    color: #FDB406;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.header_title h1 {
    text-align: center;
}

.header_sub_title {
    float: left;
    margin-top: 0px;
    margin-left: 120px;
}

.title_bar {
    padding: 10px 0px 0px 10px;
    font-size: 30px;
    text-align: center;
}


/*END HEADER*/

#container {
    width: 100%;
    margin: 0 auto;
    background: #ffe0aa;
    padding-bottom: 3em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*	"Trebuchet MS", Helvetica, sans-serif*/
}

.content_area {
    background-color: #ffffff;
    /*background-size: 1000px 83px;*/
    position: relative;
    width: 1000px;
    min-height: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: -175px;
}

.content_header {
    font-weight: bold;
    background: url('../images/abacus1.jpg') no-repeat 0 0;
    background-size: 1000px 600px;
    height: 85px;
    color: #ffffff;
}

.dor_desc {
    text-align: left !important;
}

.content_header h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 48px;
}

.menu {
    display: inline;
    float: left;
    margin-left: 30px;
    color: black;
}

.menu li {
    width: 240px;
    padding: 15px;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -25px;
    color: black;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    border: 4px solid #ffe0aa;
}

.menu a {
    text-decoration: none;
}

.menu li:hover {
    background-color: #ffe0aa;
}

.spacer {
    height: 900px;
}

.submit_button {
    text-align: center;
}

.example-table{
  margin: 0 auto;
}

.example-table td{
  padding-left: 30px;
  padding-right: 30px;
}


/*FOOTER*/

#footer {
    width: 100%;
    text-align: center;
    /*background:#160a07;*/
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 10px solid white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #160a07;
    /* Old browsers */
    background: -moz-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #160a07), color-stop(22%, #281d10), color-stop(28%, #544838), color-stop(34%, #010000), color-stop(84%, #554e49));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* IE10+ */
    background: linear-gradient(to bottom, #160a07 0%, #281d10 22%, #544838 28%, #010000 34%, #554e49 84%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#160a07', endColorstr='#554e49', GradientType=0);
    /* IE6-9 */
}

#footer h1 {
    font-size: 10px;
    color: #ffe0aa;
}

#footer h2 {
    font-size: 10px;
    color: white;
}

#footer h3 {
    font-size: 10px;
    color: white;
}


/*End Template CSS*/

#error {
    font-size: 12px;
    color: red;
}


/*        Upload CSS        */

#uploader {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #000000;
}

.uploaded {
    padding-bottom: 10px;
    font-style: italic;
}

#upload_error {
    padding-top: 10px;
    color: red;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline-block;
    text-decoration: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}

